*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
   overflow-x: hidden;
   overflow-y: hidden;
}

.secret{
   background-image: url(image/background.jpg);
   padding: 320px 0;
   display: flex;
   background-size: cover;
   background-position: center;
   text-align: center;
}
.miniman{
   max-width: 600px;
   margin: auto;
   padding: 0 20px
}

.miniman h1{
   font-size: 70px;
   background-image: linear-gradient(360deg, #e4a6e4, #fc9dff);
   color: transparent;
   background-clip: text;
   margin-bottom: 40px;
   -webkit-text-stroke: 0.5px #5e5454;
   text-transform: uppercase;
   letter-spacing: 4px;
   font-weight: 700; 
}
.miniman p{
   font-size: 20px;
   background-image: linear-gradient(360deg, #e4a6e4, #fc9dff);
   color: transparent;
   background-clip: text;
   margin-bottom: 40px;
   -webkit-text-stroke: 0.5px #5e5454;
   text-transform: uppercase;
   letter-spacing: 4px;
   font-weight: 700; 
}